@font-face{
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('../fonts/OpenSans-Regular.ttf') format('ttf');
}

body{
	font-family: "Open Sans", Helvettica, Arial, sans-serif;
	font-style: normal;
	font-weight: 400;
}
.menu {
	display: flex;
	justify-content: center;
	padding: 0px;
	margin: 10px;
	background: #000111;
	text-align: center;
}
.menu li {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 30px;
	margin: 0px;
	color: white;
	text-align: center;
	min-width: 30px;
    min-height: 20px;
    text-transform: uppercase;
    hover: red;

}
.menu li:hover{
	background: red;
}
li a{
	 text-decoration: none;
}

.lv1{
	display: flex;
	align-content: flex-end;
	flex-direction: flex-start-reverse;
}


h1 {
	color: black;
	text-transform: uppercase;
	font-weight: strong;
	font-size: 45px;


}

body{
	background-color: #f6f2f2;
}

.Contacts{
  text-decoration: none;
  display: inline-block;
  color: white;
  padding: 20px 30px;
  margin: 10px 20px;
  border-radius: 10px;
  text-transform: uppercase;
  	background-image: linear-gradient(to right, #ff2d2d 0%, #000000 51%, #ff2d2d 100%);
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
  transition: .5s;
 }

.Contacts:hover {
  background-position: right center;
}

a{
	color:white;
}