@font-face{
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('../fonts/OpenSans-Regular.ttf') format('ttf');
}
@font-face{
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('../fonts/OpenSans-Bold.ttf') format('ttf');
}

@font-face{
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 800;
	font-display: swap;
	src: url('../fonts/OpenSans-ExtraBold.ttf') format('ttf');
}

body{
	font-family: "Open Sans", Helvettica, Arial, sans-serif;
	font-style: normal;
	font-weight: 400;
}
.menu {
	display: flex;
	justify-content: center;
	padding: 0px;
	margin: 10px;
	background: #000111;
	text-align: center;
}
.menu li {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 30px;
	margin: 0px;
	color: white;
	text-align: center;
	min-width: 30px;
    min-height: 20px;
    text-transform: uppercase;
    hover: red;

}
.menu li:hover{
	background: red;
}
li a{
	 text-decoration: none;
}

.organaisation{
	display: flex;
	align-content: flex-end;
	margin: 50px;
	justify-content: flex-start;
	max-width: 1253px;
}

.organis{
	display: inline-block;
	align-content: space-between;
	max-width: 50%;
	margin: 0px 100px 0px 100px;
}

h1 {
	color: black;
	text-transform: uppercase;
		
	font-family: "Open Sans", Helvettica, Arial, sans-serif;
	font-style: bold;
	font-weight: 800;
	font-size: 60px;
}
h2 {
	text-transform: uppercase;
	font-weight: strong;
	font-weight: 700;
	font-size: 42px;
	
}

body {
	background-color: #f6f2f2;
}

.Contacts{
  text-decoration: none;
  display: inline-block;
  color: white;
  padding: 20px 30px;
  border-radius: 10px;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #ff2d2d 0%, #000000 51%, #ff2d2d 100%);
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
  transition: .5s;
 }

.Contacts:hover {
  background-position: right center;
}

a{
	color:white;
}
.service-wrapper{
	display: flex;
	align-items: center;
	background-color: white;

}
.service-summary{
	max-width: 540px;
	margin: 100px;
}
.button-learn{
  display: inline-block;
  color: red;
  padding: 20px 30px;
  margin: 10px 20px;
  border-radius: 10px;
  background: white;
  border-color: red;
  border-width: 5;
  text-decoration: none;
   border-style: solid;

}
.button-learn a{
color:red;
}


.services{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: 0 auto;
	width:50%;

}
.service{
	max-width: 300px;
	margin: 20px;
}

.service_mngm::before{
	content: url('../img/managment.svg');
}

.service_ui-ux::before{
	content: url('../img/ui-ux.svg');
}

.service_branding::before{
	content: url('../img/branding.svg');
}

.service_animation::before{
	content: url('../img/animation.svg');
}


@media (max-width:1150px){
	.service-wrapper{
		flex-wrap: wrap;
	}
	.service-summary{
	max-width: 1050px;
	}
	.services{
		width: 100%
	}
}

.feature{
	margin: 50px;
	padding: 50px;
}
.feature-description{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-content: center;
}

.feature-link{
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	color:black;
	width:100%;
	list-style: none;
	margin: 0;
	padding: 0;
	padding-bottom: 0px;

}

.products-links{
	text-transform: uppercase;
	color: black;
	margin-right: 55px;
	font-size: 22px;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: 600;
	opacity: 0.7;
}

.products__link_active {
	color: #ff2d2d;
	opacity: 1;
}

.products{
	margin: 80px;
	padding: 30px;
	display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: auto;
    grid-gap: 2vw;
	
}
.product_image{
	min-width: 250px;
	max-width: 299px;
	height: 291px;
	margin-bottom: 18px;
	object-fit: cover;
}
.teams{
	margin: 50px;
	padding: 50px;
}
.teams-wrap{
	display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
    "team__leader team__lead-description"
    "team__leader team-members"
    


 }
.team__leader{
	flex-shrink: 0;
	width: 326px;
	height: 350px;
	margin-right: 20px;
	background-color: #eb6d4a8f;
	align-self: center;
	grid-area: team__leader; 
}
.team__filter{
color: black;
display: flex;
flex-direction: row;
}

.teams-social{
color: black;
padding: 10px;
text-decoration: none;

}


.team__lead-description{
	grid-area: team__lead-description;
}

.team__leader_uppercase{
	text-transform: uppercase;
}

.team-members{
	grid-area: team-members;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.email{
	margin: 50px;
	padding: 50px;
}

.email__wrap{
	background-color: #000111;
	color:#FFFFFF;
	height:  350px;	
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	align-items: center;

}
.email_head{
	font-family: "Open Sans", Helvettica, Arial, sans-serif;
	font-style: bold;
	font-weight: 800;
	font-size: 42px;
}

.email__input{
margin: 40px;
padding: 20px;
padding-right: 124px;	
border-radius: 5px;
}

.email__button{
	text-decoration: none;
  display: inline-block;
  color: white;
  padding: 20px 30px;
  border-radius: 10px;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #ff2d2d 0%, #000000 51%, #ff2d2d 100%);
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
  transition: .5s;
}
.feedback{
	margin-left: 120px;
}
.feedback__wrap{
	display: flex;
	flex-direction: column;
	margin-bottom: 107px;
	margin: 50px;
	padding: 50px;
}

.feedback__text{
	max-width: 760px;
}

.feedback__head{
	font-family: "Open Sans", Helvettica, Arial, sans-serif;
	font-style: bold;
	font-weight: 800;
	font-size: 42px;
	text-transform: uppercase;
}

.feedback__contacts{
	display: flex;
	flex-direction: row;
}

.feedback_form{
	width: 798px;
	margin-right: 104px;

}

.feedback__input{
	margin-right: 13px;
	width: 375px;
	height: 71px;
	background-color: #e5e5e5;
	border-radius: 5px;

}

.feedback__input-text{
	width: 98%;
	height: 252px;
	background-color: #e5e5e5;
	margin-top: 45px;
	border-radius: 10px;
}


.feedback__button{
	 text-decoration: none;
  display: inline-block;
  color: white;
  padding: 20px 30px;
  border-radius: 10px;
  text-transform: uppercase;
  background-color: red;
  width: 100%;
  margin-top: 40px;
}
.feedback__about{
	color: #111000;
	background-color: #000111;
	color:#FFFFFF;
	height:  380px;	
	display: flex;
	flex-direction: column;
	padding: 50px;
}

.feedback__about h3{
	text-transform: uppercase;
}


footer{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px;
	margin: 10px;
	background: #000111;
	color: white;
}

footer div{
	margin:10px 10px 10px 170px;
}