{% extends 'flatpages/default.html' %}
{% block title %}
Все новости
{% endblock title %}
{% block content %}

{{count_post}}
<div class="container">
<form method="POST">
    {% csrf_token %}
    {{ form }} <!-- Теперь нам нужна только готовая форма и кнопка -->
    {% if count_post > 2 %}
        <div class="alert alert-warning" role="alert">
            Превышено ежедневное количество постов
        </div>
        <input class="btn-secondary btn-lg"
               disabled  data-bs-toggle="tooltip"
               data-bs-placement="top"
               title="Превышено ежедневное количество постов "
               type="submit" value="Добавить пост">
    {% else %}
        <input class="btn btn-primary"  type="submit" value="Добавить пост">
    {% endif %}
</form>
</div>

{% endblock content %}