{% extends 'flatpages/default.html' %}
{% block title %}
{{ flatpage.title }}
{% endblock title %}
{% block content %}



    <div class="container">
    <div class="text-center mt-5">
        {% load custom_filters %}
    <h1>{{post.title | censor}} </h1>
        <h3>  <i> Автор поста {{post.author.user.username}}</i> </h3>

        <br>
        <span> Дата публикации {{post.timeCreation |date:'d M Y h:m'}} </span>
        <br>
        {{ post.text | censor }}
        <br>
    </div>
    </div>
    <div class="container">
        {% for category in post.postCategory.all %}
        <h5> {{ category }} </h5>
        {% endfor %}
    </div>
    <h3> Комментарии </h3>
    {% if comments %}
            {% for comment in comments %}
                {{ comment.text }}
               <b> {{ comment.user }} </b>
                <br>
            {% endfor %}
        {% endif %}


{{ flatpage.content }}
{% endblock content %}