{% extends 'flatpages/default.html' %}
{% block title %}
{{ flatpage.title }}
{% endblock title %}
{% block content %}



    <div class="container">
    <div class="text-left mt-5">
    <h1>Все новости </h1>

    {% if posts %}
        {% for post in posts %}
            {{ post.title }}  {{ post.timeCreation |date:'d M Y'}} {{ post.text | truncatechars:50 }}
            <br>
        {% endfor %}
        {% else %}
            <h2> Новостей нет</h2>
    {% endif %}

    </div>
    </div>


{% endblock content %}