{% extends 'flatpages/default.html' %}
{% block title %}
Все новости
{% endblock title %}
{% block content %}

<div class="container">
<!-- Перед таблицей добавим форму для поиска -->
<form method="GET">
    {{ filter.form }} <!-- Форму от фильтров за нас сделает django. А вот кнопку, увы придётся делать самому -->
    <input type="submit" value="Найти">
</form>
</div>
<div class="container">
<div class="text-left mt-5">
<h1>Все новости </h1>
{% load custom_filters %}
{% if posts %}
    {% for post in filter.qs %}
        <a href="{% url 'post_detail' post.id %}">{{ post.title|censor }}</a>
        <br>
        {{ post.title |censor }}  {{ post.timeCreation |date:'d M Y h:m'}} {{ post.text | truncatechars:200 |censor }}
    <a class="nav-link active" aria-current="page" href="/news/{{post.pk}}">Подробнее</a>
        <br>
    {% endfor %}
    {% else %}
        <h2> Новостей нет</h2>
{% endif %}
  </div>
</div>

{% include 'news/pagination.html' %}



{% endblock content %}