
{% extends 'base.html' %}
{% block title%} Печать пропуска {% endblock %}


{% block content %}
{% include 'permit_base.j2' %}
<div class="form">
        <form action="" method="post">
        <p>
      <label for="url_parsing">URL для печати</label>
      <input type="text" name="url_parsing">
  </p>
  <p>
      <input type="submit">
  </p>
    </form>
</div>

<a class="pressed-button" href="/parse_unbound"> Печать всех из не привязанных</a>
<br>
<a class="pressed-button" href="/parse_unbound_one_permit"> Выбор одного из не привязанных</a>


{% endblock %}
