{% extends 'base.html' %}
{% block title%} нет ссылки {% endblock %}


{% block content %}
<div class="form">
        <form action="" method="post">
        <p>
      <label for="url_parsing">URL для печати</label>
      <input type="text" name="url_parsing">
  </p>
  <p>
      <input type="submit">
  </p>
    </form>
</div>

<h3> <b> Необходимо вставить ссылку для поиска пропуска </b> </h3>
<img class="" src="static/img/template_url.png">
<a href="/parse_unbound"> Печать не привязанных в скуде</a>
{% endblock %}