<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link type="text/css" href="{{ url_for('static', filename='css/style.css')}}" rel=stylesheet />
</head>
<body>

{% include 'permit_base.j2' %}

<div class="form">
        <form action="" method="post">
        <p>
      <label for="url_parsing">URL для печати</label>
      <input type="text" name="url_parsing">
  </p>
  <p>
      <input type="submit">
  </p>
    </form>
</div>

<a href="{{parse_unbound}}"> Печать не привязанных в скуде</a>

</body>
</html>