<div class="permit">
  <div class="permit-upper">
      <div class="permit-foto">
        <img class="permit-image" src="/static/img/{{employ.foto}}">
      </div>
  <div class="permit-fio">
    <div class="permit-label"> <img class="permit-label" src="{{ url_for ('static', filename='img/s12.png')}}"></div>
    <div class="permit-employ">
      <br><span > <b>Ф.</b> {{employ.family}}</span>
      <br><span class="permit-employ-text"> <b>И.</b> {{employ.name}}</span>
      <br><span class="permit-employ-text"> <b>О.</b> {{employ.patronymic}}</span>
      <br><span class="permit-employ-text"> <b>Таб. №</b> {{employ.tabel}}</span>

    </div>
  </div> 
  </div>

  <div class="permit-footer">
    <div class="permit-footer-div">
      <span class="permit-footer-text"><b> {{employ.department}}</b> </span><br>
    </div>
    <div class="permit-footer-div">
      <span class="permit-footer-text"><b>Должность</b>: {{employ.special}}</span>
    </div>
    
    
  </div>
</div>